@import '../../utils/colours.scss';

body {
  background-color: $brand-bg;
  color: $brand-header;
}

.brand {
  &-page {
    &-name{
      color: $brand-colourA;
    }
    &-title{
      color: $brand-colourB;
    }
  }
}

.swapButton
{
  height: 50px;
  width: 120px;
}