@import '../../utils/colours.scss';

body {
  background-color: $brand-bg;
  color: $brand-header;
}

.brand {
  &-page {
    &-name{
      color: $brand-colourA;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: large;
    }
    &-title{
      color: $brand-colourB;
      font-size: x-large;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }
}
