.header {
    justify-content: center;
}
  
.headerlink-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    &-selected{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:large;

        color: black;
        text-decoration: none;
        padding: 0 10px;
        color: purple;
    }
}
.headerlink-title:hover {
    color: red;
}