@import '../../utils/colours.scss';

$background-colour:rgb(69, 203, 226);
$content-colour: rgb(103, 174, 255);

.table{
  &-header{
    background-color: $background-colour;
  }
  &-content{
    background-color: $content-colour; 
    height: 100px;
    overflow-x: auto;
  }
  &Div{
    padding-top: 20px;
  }
  &Button{
    width: 100%;
    height: 50px;
  }
}

table{
  width: 70%;
  border-collapse: collapse;
  padding-top: 50px;
  border-spacing: 15px;
}

th, td{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid rgb(0,0,0);
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(odd) {
background-color: rgb(138, 165, 255);}

select{
  padding: 5px;
}

.filterDiv{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 10px;
}

input{
  padding: 5px;
}

.input{
  &1{
    padding-left: 10px;
  }
  &2{
    padding-left: 10px;
  }
  &Button{
    width: 10%;
    padding-left: 10px;
  }
  &Div{
    padding-left: 10px;
  }
}

.resetButton{
  width: 10%;
}

.rowInput{
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: $content-colour;
}

.errorDiv {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color: red;
}
