@import '../../utils/colours.scss';

$header-colour:rgb(98, 255, 169);
$content-colour: rgb(136, 211, 255);
$hover-colour: rgb(60, 180, 250);
$table-button-colour: rgba(34, 57, 184, 0.247);

.table{
  &-header{
    background-color: $header-colour;
  }
  &-content{
    height: 100px;
    overflow-x: auto;
  }
  &Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left: 10px;
  }
  &Button, &Button:hover, &ButtonMax, &ButtonMax:hover, &ButtonMin, &ButtonMin:hover, 
  &ButtonEdit, &ButtonEdit:hover, &ButtonDelete, &ButtonDelete:hover, &ButtonRegister, &ButtonRegister:hover{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    background-color: $table-button-colour;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 5px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: large;
  }
  &Button:hover,&ButtonMin:hover {background-color: rgba(0, 17, 255, 0.281);}
  &ButtonMax,&ButtonMax:hover {font-size: xx-large; background-color: rgb(131, 228, 144);}
  &ButtonMax:hover {background-color: rgb(90, 204, 105);}
  &ButtonMin,&ButtonMin:hover {font-size: xx-large;}
  &ButtonDelete{margin-left:5px;background-color: rgb(255, 122, 122);}
  &ButtonDelete:hover{margin-left:5px;background-color: rgb(204, 94, 94);}
  &ButtonEdit{margin-left:5px;background-color: rgb(255, 188, 144);}
  &ButtonEdit:hover{margin-left:5px;background-color: rgb(252, 160, 99);}
  &ButtonRegister{height:50px; width: 95%; margin-left:5px; background-color: rgb(131, 228, 144);}
  &ButtonRegister:hover{height:50px; width: 95%; margin-left:5px; background-color: rgb(90, 204, 105);}
}
.headerButton{
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  font-weight: bold;
  word-wrap: break-word;
  width: fit-content;
  border: 0px;
}
tbody tr {
  background-color: $content-colour; 
}
tbody tr:hover, tbody tr:nth-child(even):hover {
  background-color: $hover-colour
}
tbody tr:nth-child(even) {
  background-color: rgb(184, 215, 255);
}
.editDeleteTd{
  background-color: $brand-bg!important;
  border: 0px!important;
  width: 140px;
  padding-left: 0px;
}
.studentIdTd{
  width: 50px;
}
.editRow {
  background-color: rgb(252, 160, 99)!important;
}
.hideButton{
  background-color: rgb(60, 181, 250)!important;
}
table{
  width: 70%;
  border-collapse: collapse;
  padding-top: 50px;
  border-spacing: 15px;
}

th, td{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  word-wrap: break-word;
  border: 2px solid rgb(0,0,0);
  width: fit-content;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

select{
  padding: 5px;
}

.filter{
  &Div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    border: 5px solid rgb(0, 172, 23);
    border-radius: 10px;
    background-color: rgb(179, 255, 148);
  }
  &Select{
    text-align: center;
    font-size: medium;
    border: 2px solid rgb(0, 83, 11);
    border-radius: 10px;
    background-color: rgb(235, 255, 227);
  }
}

.selectDiv{
  padding-right: 10px;
}

input{
  padding-top: 5px;
  padding-bottom: 5px;
}

.input{
  &1, &2{
    text-align: center;
    padding-right: 5px;
  }
  &Entry{
    padding-top: 10px;
    border: 2px solid rgb(0, 83, 11);
    border-radius: 10px;
    background-color: rgb(235, 255, 227);
  }
  &Button, &Button:hover{
    width: fit-content;
    padding-left: 10px;
    font-size: large;
    padding-right: 10px;
    border: 2px solid rgb(0, 83, 11);
    border-radius: 10px;
    background-color: rgba(33, 231, 59, 0.644);
  }
  &Button:hover{
    background-color: rgb(29, 190, 50);
  }
  &Div{
    padding-left: 0px;
  }
  &Search{
    &Div{
      color: rgb(255, 0, 0);
    }
  }
  &RowError, &RowError:hover{
    background-color: rgba(255, 55, 55, 0.692) !important;
  }
  &Select, &SelectEnrollment{
    width: 50px;
    font-size: large;
    background-color: $table-button-colour;
  }
}

.resetButton{
  width: 10%;
}

.rowInput{
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: large;
  text-align: center;
  box-sizing: border-box;
}

.errorDiv {
  padding-top: 5px;
  padding-left: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  color: rgb(255, 62, 62);
}
.up{
  background-image: url("/public/up_arrow.png");
}
